.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
    background: rgb(245, 248, 255);
}

/*shared styles*/
.display-flex{
    display:flex; 
}

.gray1{
    color: #8987A1;
}
.black{
    color: #000000;
}
.color2{
    color: #E95A08;
}

/*Navbar related style*/
.logo {
    width: 150px;
    height: 80px;
}
.container{
    max-width:  1140px;
    margin:0 auto;
    width: 100%;
}
.home{
    color:#252432;
    font-size: 1rem;
    font-weight: bold;
}
.navbar{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    margin-top: 1.5rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 1rem;

}
.nav-right {
    margin-right: 2.5rem;
    white-space: nowrap;
}
.nav-right ul{
    list-style: none;
    text-align: center;
    align-items: center;
    gap: 48px;
}
nav ul li a {
    text-decoration: none;
}
.links {
    margin-right: 2.5rem;
    white-space: nowrap;
}
.cart-part {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
/*Banner part's style*/

.banner{
    align-items: center;
    max-width: 1140px;
    margin: auto;
    margin-top: 150px;
}

.banner-description{
     width: 650px;
    height: 400px;
}
.title{
    font-size: 4rem;
}
.paragraph{
    font-size: 1.25rem;
    width: 550px;
    margin-top: -30px;
}
.banner-pic{
    width: 650px;
    height: 400px;
    margin-top: -170px;
}
/*Our plants part*/
.plant {
    font-family: Noto Serif;
    font-size: 3.2rem;
    font-weight: 700;
}

.plant-section {
    text-align: center;
    margin-top: 40px;
}

.plant-section h3,
p {
    margin-top: 20px;
}

.grid-container {
    text-align: center;
}

.grid-container h4 {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 20px;
}

.grid-container img {
    max-width: 220px;
}

.grid-container p {
    color: rgb(17, 17, 17);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 15px;
}

.grid-container button {
    all: unset;
    background: rgb(233, 90, 8);
    margin-top: 15px;
    padding: 10px 55px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px;
}

.plant-lover {
    max-width: 1140px;
    margin-top: 100px;
    justify-content: space-between;
    align-items: flex-start;
    margin:auto;
    gap: 80px;
}



.plant-text {
  margin-left: 50px;
  width: 540px;
  height: 597px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.title {
  color: #000;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.plant-text li {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
}
.plant-lover-img-wrapper {
    position: relative;
    width: 100%;
}
.plant-lover-pic{
  margin-top: 80px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.badge {
    position: absolute;
    margin-top: 80px;
    top: -120px;
    left: 75%;
    transform: translateX(-50%);
    width: 280px;
    height: 280px;
    z-index: 10;
}

.badge {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.bloom {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 366.22px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.bloom h3 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.bloom a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.ana {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../assets/deal-ana.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 366.22px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;

}

.ana h3 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.ana a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 600;
}

.zabo {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 753px;
    height: 423.13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;

}

.zabo h3 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.zabo a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 600;
}
.blooms {
    gap: 30px;
    margin-left: 350px;
    margin-top: 50px;
}

.blooms-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.join {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url("../assets/news-letter-bg.png");
    margin: auto;
    height: 533px;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.join h3 {
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.join input {
    width: 644px;
    height: 68px;
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin-right: 0px;
}
.join button {
    all: unset;
    width: 186px;
    height: 73px;
    background: rgb(233, 90, 8);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}
.footer {
    margin-top: 60px;
    justify-content: space-between;
    padding-bottom:30px;

}

.footer a {
    text-decoration: none;
    color: rgb(107, 114, 128);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 20px;
}

.footer ul {
    list-style: none;
}

.footer-logo {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    width: 30%;
}

.link ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-img {
    display: flex;
    width: 216px;
    height: 36px;
    gap: 40px;
}



@media screen and (max-width: 576px){

  .hide-mobile{
   display: none;
  }
.navbar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
.cart-part {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
.banner {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    margin-bottom: 30px;
  }
.banner-pic{
    margin-bottom:  0px;
  }
.banner-description{
        text-align: start;
        margin-left: 20px;
       margin-right: 40px;
        margin-top: -50px;
  }
.title{
    font-size: 2rem;
    margin-top: 30px;
    line-height: 2.5rem;
  }
.paragraph{
    margin-top: 0.5rem;
    margin-right: 20px;
  }
  .plant-section {
        text-align: center;
        margin-right: 20px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin-left: 5px;

    }

    .grid-container img {
        max-width:80%;
    }

    .grid-container {
        margin-left: 5px;
    }

    .grid-container button {
        padding: 3% 10%;
    }

    .plant-lover {
        flex-direction: column;
        margin-left: 10px;
    }
    .badge{
        display: none;
    }

    .plant-text h3 {
        margin-left: 20px;
    }

    .plant-text li {
        margin-left: 40px;
        margin-right: 20px;
    }
    

    .blooms {
        flex-direction: column;
    }

    .bloom {
        display: flex;
        width: 90%;
        align-items: center;
        margin-left:5%;
    }

    .ana {
        width: 90%;
        margin-left:5%;
    }

    .zabo {
        width: 90%;
        margin-left:5%;
        height: 206px;
    }

    .zabo h3 {
        color: rgb(255, 255, 255);
        font-family: Noto Serif;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .zabo a {
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 600;
    }
    .join {
        max-width: 100%;
        max-height: 275px;
    }

    .join h3 {
        font-size: 2rem;
    }

    .join input {
        width: 255px;
    }

    .join button {
        width: 100px;
    }
    .footer {
        flex-direction: column;
        margin-left: 20px;
        padding-bottom: 40px;
    }

    .footer-logo {
        width: 100%;
    }

    .footer-logo p {
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 20px;
    }

    .footer a {
        margin-left: 20px;
    }

    .link {
        margin-bottom: 20px;
    }

    .flower-store {
        width:94%;
        margin-left:2.5%;
    }

    .plant-section {
        margin-left: 20px;
    }

    .footer-img {
        margin-left: 20px;
        margin-top: 30px;
    }
}